.article {
}

.article h1, .article h2, .article h3 {
  margin: 1rem 0;
  @apply dark:text-white
}

.article h1 {
  font-size: 3rem;
}
.article h2 {
  font-size: 2rem;
}
.article h3 {
  font-size: 1.5rem;
}

.article p {
  margin-bottom: 1rem;
  font-size: 1.15rem;
}

.article a {
  text-decoration: underline;
  text-underline-offset: 3px;
}

.article img {
  margin-bottom: 2rem;
}